.compositions {
  position: relative;
  &__photo {
    width: 50%;
    box-shadow: 0 1.5rem 3rem rgba(black, 0.4);
    border-radius: 1px;
    position: absolute;
    z-index: 10;
    outline-offset: 1rem;
    transition: 0.4s ease-in-out all;
    &--1 {
      top: -2rem;
      left: 0;
    }
    &--2 {
      right: 0;
      top: 2rem;
    }
    &--3 {
      top: 10rem;
      left: 20%;
    }
    &:hover {
      z-index: 20;
      transform: scale(1.2);
      outline: 1rem solid $color-primary-dark;
      transform: translateY(-1rem);
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.8);
  }
}
