.header {
  height: 95vh;
  background-color: #cbffee;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  margin: 1.6rem;
  .header__logo--img {
    margin: 3rem;
    width: 10%;
    animation-name: logo_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .header__logo {
    width: 50%;
  }
  .header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__hero--btn:hover::after {
    z-index: -1;
    transform: scale(1.5);
    opacity: 0;
  }
}
.header__hero--btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(224, 236, 216);
  border-radius: 4rem;
  z-index: -1;
  transition: all 0.5s;
}
